.idea/
**/__pycache__
**/*.pyc

# Ignore virtual envs
venv
fmkd_venv

# Ignore notebooks exploration directory
notebooks/

# Ignore logs directories
*_logs/

# Ignore full dependencies list
full_dependencies.txt